{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended"
    // "airbnb"
    // "airbnb-typescript-prettier"
  ],
  "rules": {
    // "no-console": "error",
    "curly": "error",
    "func-style": ["error", "expression"],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "prettier/prettier": ["error", {
      "endOfLine":"auto"
     }]
  }
}

