{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "error",
    "curly": "error",
    "func-style": ["error", "expression"]
  }
}

